.menu0 {
	padding: 5px;
	width: 460px;
	border: 1px solid #000;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}
.menu01 {
	padding: 10px;
	width: 440px;
	border: 1px solid #000;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}
.menu02 {
	padding: 10px;
	width: 440px;
	border: 0px solid #000;
    background-color: SkyBlue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}
.menu03 {
	padding: 10px;
	width: 340px;
	border: 1px solid #000;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}
.fondpreg {
	padding: 10px;
	width: 400px;
	height: 210px;
	border: 0px solid #000;
    background-color: #e8daef ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;}

.textpreg {
	padding: 3px;
	width: 247px;
	height: 205px;
	border: 0px solid #000;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;}

.assipreg {
text-align: right;
	padding: 2px;
	width: 155px;
	height: 15px;
	border: 0px solid #000;
    border-radius: 5px;
}

.nivepreg {
text-align: right;
	padding: 2px;
	width: 80px;
	height: 15px;
	border: 0px solid #000;
    border-radius: 5px;
}

.temppreg {
text-align: right;
	padding: 2px;
	width: 150px;
	height: 15px;
	border: 0px solid #000;
    border-radius: 5px;
}

.intepreg {
text-align: right;
	padding: 2px;
	width: 100px;
	height: 15px;
	border: 0px solid #000;
    border-radius: 5px;
}

.imagpreg {
	padding: 2px;
	width: 154px;
	height: 104px;
	border: 0px solid #000;
    border-radius: 5px;
}
.resppreg {
	visibility: hidden;
	padding: 10px;
	border: 0px solid #000;
	 background-color:  #e8daef ;
    border-radius: 5px;
}
.presentaci {
	padding: 0px;
	width: 420px;
	height: 329px;
	border: 0px solid #000;
    background-color: #e8daef ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;}

    .inforespuesta {
		visibility: hidden;
	padding: 0px;
	width: 415px;
	height: 303px;
	border: 0px solid #000;
    background-color: white ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;}

    #dadesresposta {
    text-align: center;}

    .menu04 {
		padding: 10px;
		width: 510px;
		border: 0px solid #000;
		background-color: white;
		border-radius: 5px;
		box-shadow: 2px 2px 5px #999;}

	.menu05 {
	padding: 10px;
	width: 440px;
	border: 5px solid black;
    background-color: red;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}

.grafica1 {
	padding: 5px 5px 0px 5px;
	border: 0px solid #000;
    background-color: SkyBlue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

.presentaci {
Position: absolute;
left: 595px;
border-style: solid;
	padding: 0px;
	width: 420px;
	height: 280px;
  border-top-width: 10px;
  border-right-width: 8px;
  border-bottom-width: 5px;
  border-left-width: 6px;
	background-color: white;
	 border-bottom-color: #00FF00;
 border-top-color:    #eaeded;
  border-right-color:     #bfc9ca ;
  border-bottom-color:   #839192;
  border-left-color:  #aab7b8;
	      border-radius: 3px;
    box-shadow: 2px 2px 5px #999;
    top: 10px;
}

.presentaci2 {
left: 595px;
border-style: solid;
	padding: 0px;
	width: 420px;
	height: 280px;
  border-top-width: 10px;
  border-right-width: 8px;
  border-bottom-width: 5px;
  border-left-width: 6px;
	background-color: white;
	 border-bottom-color: #00FF00;
 border-top-color:    #eaeded;
  border-right-color:     #bfc9ca ;
  border-bottom-color:   #839192;
  border-left-color:  #aab7b8;
	      border-radius: 3px;
    box-shadow: 2px 2px 5px #999;
    top: 10px;
}

.fondonegro {
	Position: absolute;
	width: 100%;
	height: 100%;
	background-color: black ;
}

.caja {
Position: absolute;
left: 60px;
top: 10px;
border-style: solid;
	padding: 0px;
	width: 300px;
	height: 200px;
  border-top-width: 10px;
  border-right-width: 8px;
  border-bottom-width: 5px;
  border-left-width: 6px;
	background-color: black;
	 border-bottom-color: #00FF00;
 border-top-color:    #eaeded;
  border-right-color:     #bfc9ca ;
  border-bottom-color:   #839192;
  border-left-color:  #aab7b8;px;
	      border-radius: 3px;
    box-shadow: 2px 2px 5px #999;
    top: 10px;
}
